<button (click)="addACard()">Add a New Card</button>
<table>
    <thead>
        <tr>
            <th>Select</th>
            <th>Card Number</th>
            <th>Expiry Date</th>
            <th>CVV</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let card of cards">
            <td><input type="checkbox" [(ngModel)]="card.selected" /></td>
            <td>{{ card.cardNumber }}</td>
            <td>{{ card.expiryDate }}</td>
            <td>{{ card.cvv }}</td>
        </tr>
    </tbody>
</table>